# all ignore
/*
/**

# github actions
!/.github/
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/ruff.yml
!/.github/workflows/basedpyright.yml

# not ignore
!/.gitignore
!/ExecutePokeConModified-Extension.bat
!/ExecutePokeConModified-Extension.sh
!/LICENSE
!/README.md
!/UpdatePokeConModified-Extension.bat
!/changelog.txt
!/pyrightconfig.json
!/pyproject.toml
!/ruff.toml
!/requirements.txt
!/requirements-nuitka.txt
!/renovate.json


!/DirectShowLib/
/DirectShowLib/*
!/DirectShowLib/DirectShowLib-2005.dll
!/DirectShowLib/WhatsNew.txt
!/DirectShowLib/license.txt
!/DirectShowLib/readme.txt

!/Images/
/Images/*
!/Images/disabled.png

!/SerialController/
/SerialController/*
!/SerialController/*.py
!/SerialController/Commands/
/SerialController/Commands/*
!/SerialController/Commands/*.py
!/SerialController/Commands/McuCommands/
/SerialController/Commands/McuCommands/*
!/SerialController/Commands/McuCommands/AutoLeague.py
!/SerialController/Commands/McuCommands/InfinityWatt.py
!/SerialController/Commands/McuCommands/MashA.py
!/SerialController/Commands/McuCommands/PickUpBerry.py
!/SerialController/Commands/PythonCommands/
/SerialController/Commands/PythonCommands/*
!/SerialController/Commands/PythonCommands/Samples/
!/SerialController/Commands/PythonCommands/ImageProcessingOnly/
/SerialController/Commands/PythonCommands/ImageProcessingOnly/*
!/SerialController/Commands/PythonCommands/ImageProcessingOnly/Samples/
!/SerialController/Commands/PythonCommands/bridge_functions/
!/SerialController/gui/
/SerialController/gui/*
!/SerialController/gui/*.py
# !/SerialController/Commands/PythonCommands/bridge_functions/*
!/SerialController/Template/
/SerialController/Template/*
!/SerialController/Template/Samples/
!/SerialController/assets/
!/SerialController/assets/*
!/SerialController/assets/icons8-OpenDir-16.png
!/SerialController/db/
/SerialController/db/*
!/SerialController/db/poke_form_name.csv
!/SerialController/db/pokedex.json
# !/SerialController/profiles/default


__pycache__/
