certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.2
clr_loader==0.2.7.post0
Deprecated==1.2.18
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
jaconv==0.4.0
llvmlite==0.44.0
Nuitka==2.7.12
numba==0.61.2
numpy==2.2.6
opencv-python==4.12.0.88
ordered-set==4.1.0
paho-mqtt==2.1.0
pandas==2.3.1
pillow==11.3.0
plyer==2.1.0
pycparser==2.22
pygame==2.6.1
pygubu==0.38.1
pykakasi==2.3.0
pynput==1.8.1
pyserial==3.5
python-dateutil==2.9.0.post0
pythonnet==3.0.5
pytz==2025.2
requests==2.32.4
scipy==1.16.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
tzdata==2025.2
urllib3==2.5.0
windows-capture-device-list==1.1.0
wrapt==1.17.2
zstandard==0.23.0
