name: Ruff Check
on: [push, pull_request]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
          args: "format --check --diff"
